* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 1.2em;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.grid {
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 200px 1fr;
  grid-template-areas: "header header" "nav main" "footer footer";

  border: 1px solid red;
}

.grid div:nth-child(1) {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(179, 33, 33, 0.774);
  grid-area: header;
}

.grid div:nth-child(2) {
  background: greenyellow;
  grid-area: nav;
}

.grid div:nth-child(3) {
  background-color: violet;
  grid-area: main;
}

.grid div:nth-child(4) {
  background: gainsboro;
  grid-area: footer;
}

@media (max-width: 768px) {
  .grid {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto;
    grid-template-areas: "header" "nav" "main" "footer ";

    border: 1px solid red;
  }
}
