* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-size: 1.2em;
}

p {
  margin: 0 0 22px;
}

.two-columns {
  display: flex;
}

.two-columns .col {
  display: flex;
  flex-direction: column;
  margin: 15px;
  padding: 30px;
  background-color: cadetblue;
}

.gallery {
  display: flex;
  flex-flow: row wrap;
}

.gallery .imge {
  flex: 1 0 20%;
  height: 50px;
  margin: 10px;
  background-color: blue;
}
